<!DOCTYPE html>
<html ng-app="wscat">
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body ng-controller="indexCtrl">
		<!--ng-model 一般用来接受input select和textarea的值-->
		<!--ng-bind其实跟{{}}异曲同工-->
		<!--如果js放在下面用ng-bind就好了，如果js放在开头，就用{{}}-->
		<!--因为如果你把js放在开头，会先加载html结构，所以会把表达式先渲染出来，直到angular加载完成后
			我们angular就会认领这个表达式，把它转化为对应的数据
		-->
		<!--<p ng-bind="name"></p>
		<input ng-model="name" />
		<textarea ng-model="name"></textarea>
		<select ng-model="name">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="wsscat">wsscat</option>
		</select>
		<input type="range" ng-model="num" />
		<p ng-bind="num"></p>-->
		<p ng-bind = "name"></p>
		<input type="text" ng-model = "name"/>;
		<textarea ng-model = "name"></textarea>;
		<select ng-model = "name">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		</select>
	</body>
	<script type="text/javascript" src="angular.js" ></script>
	<!--<script>
		var app = angular.module("wscat",[]);
		app.controller("indexCtrl",function($scope){
			$scope.name = "wsscat"
			$scope.num = 1
		})
	</script>-->
	<script>
		var app = angular.module("wscat",[]);
		app.controller("indexCtrl",function($scope){
			$scope.name = "wscat";
		})
	</script>
</html>
