<div id="KdJEdkwAwen" class="LrMBSXQoRqbJZynOz ">
			<div class="femJfNWfffxdBsWsslIWgA GtoowZrDxyz TMRwyOhDB" style="display: block !important;">
				<a href="javascript:void(0)" class="close"></a>
				<a href="http://d.toutiao.com/N13p/" target="_self" class="download" rel="nofollow">
					<div class="logo">
						<div class="mask"></div>
					</div>
					<div class="banner-label">
						<p class="tb" data-node="appName">今日头条</p>
						<p class="title-sub">6亿用户的选择</p>
					</div>
					<div class="open">立即打开</div>
				</a>
			</div>
		</div>
		<div style="display:none"><input type="hidden" name="csrfmiddlewaretoken" value="52a9aa8f6d9f737fabf6d964023c3396"></div>
		<!-- global tip start -->
		<p class="refresh-tip"></p>
		<!-- global tip end -->
		<!-- index header start -->
		<header id="pageletIndexHeader" style="width: 100%;">
			<div class="top_bar">
				<div class="abs_m">
					<a href="http://m.toutiao.com/?W2atIF=1#" class="refresh_title btn" action-type="fresh" ga_category="refresh" ga_label="" ga_event="click"></a>
					<a href="http://m.toutiao.com/?W2atIF=1#" class="refresh_btn btn" action-type="fresh" ga_category="refresh" ga_label="" ga_event="click"></a>
				</div>
				<div class="abs_l">
					<a href="javascript:;" class="msg-box" ga_category="left_button" ga_label="" ga_event="click">
						<div class="circle" style="-webkit-transform-origin: 0px 0px; opacity: 1; -webkit-transform: scale(1, 1);"></div>
					</a>
				</div>
				<div class="abs_r">
					<a href="#/search" class="btn search"></a>
				</div>
			</div>
			<div class="top_menu_bar">
				<div class="top_menu_more">
					<div class="list_shadow"></div>
					<a href="http://m.toutiao.com/channels/" class="more_btn" ga_category="channel" ga_label="" ga_event="channel_more"></a>
				</div>
				<div id="top_menu" class="top_menu">
					<div class="top_menu_list">
						<a data-url="channel=__all__" href="#/index/tuijian" class="btn cur" scroll-left="0">推荐</a>
						<a data-url="channel=video" href="#/index/video" class="btn" scroll-left="0">视频</a>
						<a data-url="channel=news_hot" href="javascript:;" class="btn" scroll-left="0">热点</a>
						<a data-url="channel=news_society" href="javascript:;" class="btn" scroll-left="0">社会</a>
						<a data-url="channel=news_entertainment" href="javascript:;" class="btn" scroll-left="114">娱乐</a>
						<a data-url="channel=news_military" href="javascript:;" class="btn" scroll-left="291">军事</a>
						<a data-url="channel=news_tech" href="javascript:;" class="btn" scroll-left="468">科技</a>
						<a data-url="channel=news_car" href="javascript:;" class="btn" scroll-left="645">汽车</a>
						<a data-url="channel=news_sports" href="javascript:;" class="btn" scroll-left="864">体育</a>
						<a data-url="channel=news_finance" href="javascript:;" class="btn" scroll-left="864">财经</a>
						<a data-url="channel=news_world" href="javascript:;" class="btn" scroll-left="864">国际</a>
						<a data-url="channel=news_fashion" href="javascript:;" class="btn" scroll-left="864">时尚</a>
					</div>
				</div>
			</div>
		</header>
		<!-- index header end -->
		<!-- channel widget start -->
		<div id="pageletChannelWidgets"></div>
		<!-- channel widget end -->
		<!-- XpromtItems -->
		<div id="pageletXpromtItems"></div>
		<!-- XpromtItems end -->
		<!-- list content start -->
		<content id="pageletListContent" class="feed-list-container">
			<div class="list_content" pull-fresh="">
				<div ui-view=""></div>
			</div>
			<div class="list_bottom" style="-webkit-transform-origin: 0px 0px; opacity: 1; -webkit-transform: scale(1, 1);">
				<section class="loadmoretip">
					<a href="http://m.toutiao.com/?W2atIF=1#" old-text="">加载中...</a>
				</section>
			</div>
		</content>
		<!-- list content end -->
		<div class="mask"></div><input type="hidden" name="page_id" id="page_id" value="/index/">
		<iframe id="bytedance-ba-cid-iframe" src="./《今日头条》你关心的,才是头条! - TouTiao.com_files/crossDomain.html" style="display: none;"></iframe>
		
		<div id="pageletPopupBanner" class="tt-modal" style="display:none">
			<div class="popup">
				<div class="banner"></div>
				<p>已加载好您感兴趣的头条</p>
				<div class="download-btn" data-node="downloadBtn" ga_category="left_top" ga_label="" ga_event="download">立即打开</div>
				<div class="close" data-node="close"></div>
			</div>
		</div>
		<div class="mask"></div>
		<div class="bonus-wrapper"><i class="bonus-icon" style="display:block !important;"></i>
			<a href="http://d.toutiao.com/FLFG/?append=%7B%22postdata%22%3A%5B%7B%22group_id%22%3A6767223601%2C%22__type__%22%3A%22redpack%22%7D%5D%7D&extra=%7B%22group_id%22%3A6767223601%2C%22__type__%22%3A%22redpack%22%2C%22channel%22%3A%22wap_hongbao_ios%22%7D" class="bonus wap-bonus"><i class="bonus-close"></i></a>
		</div>
