<p style="font-size:0;">东方头条网-东方网旗下《东方头条》是一款会自动学习的资讯软件,它会分析你的兴趣爱好,为你推荐喜欢的内容,并且越用越懂你.就要你好看,东方头条新闻网!</p>
<header style="width: 100%;">
	<!-- title -->
	<section class="top-title">
		<a href="http://toutiao.eastday.com/" class="back"></a>
		<h1 class="title">头条搜索</h1>
	</section>
	<!-- menu -->
	<section class="top-form">
		<div class="form-wrap">
			<div class="input-wrap">
				<span class="search-logo"></span>
				<input class="search-input" id="J_search_input" type="text" placeholder="请输入您感兴趣的内容" autocomplete="off">
			</div>
			<button id="J_search_btn" class="search-btn" type="button">搜索</button>
		</div>
	</section>
</header>

<div id="J_content" class="news-list">
	<div id="J_hot_words" class="hot-words-wrap none" style="display: block; -webkit-transform-origin: 0px 0px; opacity: 1; -webkit-transform: scale(1, 1);">
		<h3>热门搜索</h3>
		<p>
			<a href="javascript:;">哇集拉隆功将继位</a>
		</p>
		<p>
			<a href="javascript:;">江苏最大规模作弊</a>
		</p>
		<p>
			<a href="javascript:;">成都最长公交线路</a>
		</p>
		<p>
			<a href="javascript:;">加拿大战斗机坠毁</a>
		</p>
		<p>
			<a href="javascript:;">朴槿惠将辞去总统</a>
		</p>
		<p>
			<a href="javascript:;">驯养乌龟价涨百倍</a>
		</p>
		<p>
			<a href="javascript:;">小鱼塘兽药乱投放</a>
		</p>
		<p>
			<a href="javascript:;">老银杏树长出人脸</a>
		</p>
		<p>
			<a href="javascript:;">卖馄饨十年不涨价</a>
		</p>
		<p>
			<a href="javascript:;">王鸥现身穿着引骂</a>
		</p>
	</div>
	<div id="J_news_wrap" class="news-wrap" style="display: none;">
		<div class="list-block news-list-wrap"></div>
		<div id="J_loading" class="loading">
			<div class="spinner">
				<div class="bounce1"></div>
				<div class="bounce2"></div>
				<div class="bounce3"></div>
			</div>
			<p class="txt">数据加载中</p>
		</div>
	</div>
</div>