<section data-is-video="True" hot-time="1480403976" class="middle_mode has_action" data-group-id="6358276964306911489" data-item-id="6358279205070832130" data-format="0" data-isshown="true">

					<a href="http://m.toutiao.com/item/6358279205070832130/" class="article_link clearfix " data-action-label="click_headline" data-tag="video_sports">

						<div class="desc" style="vertical-align: middle;">

							<h3 class="dotdot line3 image-margin-right">视频｜疑似载巴西球员飞机坠毁现场视频曝光 拍摄者直呼上帝啊</h3>

							<div class="item_info" style="margin-top: 18px;">

								<span class="hot_label space">热</span>

								<span class="src space">新闻终点站</span>
								<span class="cmt space">评论&nbsp;0</span>

								<span data-id="6358276964306911489" class="dislike-news mid-space fr"></span>

							</div>

						</div>
						<div class="list_img_holder" style="vertical-align: middle; background: none;">
							<img src="./《今日头条》你关心的,才是头条! - TouTiao.com_files/12050008f1bcf142c1ca" onerror="errorimg.call(this)" onload="loadimg.call(this)" style="opacity: 1;">

							<span class="video-btn"></span>

						</div>

					</a>

				</section>
				<section data-is-video="False" hot-time="1480403376" class=" has_action" data-group-id="6358117175115137282" data-item-id="6358168310810411521" data-format="0">

					<div class="one-px-border"></div>

					<a href="http://m.toutiao.com/item/6358168310810411521/" class="article_link clearfix " data-action-label="click_headline" data-tag="news_world">

						<h3 class="dotdot line3 ">重新计票颠覆美国大选结果？难！</h3>

						<div class="list_image">
							<ul class="clearfix">

								<li class="list_img_holder" style="background: none;"><img src="./《今日头条》你关心的,才是头条! - TouTiao.com_files/11ba0001bc7fab82342f" onerror="errorimg.call(this)" onload="loadimg.call(this)" style="opacity: 1;"></li>

								<li class="list_img_holder" style="background: none;"><img src="./《今日头条》你关心的,才是头条! - TouTiao.com_files/11ba0001bc80473f3699" onerror="errorimg.call(this)" onload="loadimg.call(this)" style="opacity: 1;"></li>

								<li class="list_img_holder" style="background: none;"><img src="./《今日头条》你关心的,才是头条! - TouTiao.com_files/11eb00031dc456c272ed" onerror="errorimg.call(this)" onload="loadimg.call(this)" style="opacity: 1;"></li>

							</ul>
						</div>

						<div class="item_info">

							<span class="src space">文汇网</span>
							<span class="cmt space">评论&nbsp;39</span>

							<span class="time" title="2016-11-29 15:09">10分钟前</span>

							<span data-id="6358117175115137282" class="dislike-news  fr"></span>

						</div>

					</a>

				</section>
				<section data-is-video="True" hot-time="1480402776" class="middle_mode has_action" data-group-id="6356882392343855361" data-item-id="6356885965172113921" data-format="0" data-isshown="true">

					<div class="one-px-border"></div>

					<a href="http://m.toutiao.com/item/6356885965172113921/" class="article_link clearfix " data-action-label="click_headline" data-tag="news_story">

						<div class="desc" style="vertical-align: middle;">

							<h3 class="dotdot line3 image-margin-right">小伙追女总裁，一晚之后女总裁沦陷了</h3>

							<div class="item_info" style="margin-top: 18px;">

								<span class="src space">每天de欢乐</span>
								<span class="cmt space">评论&nbsp;182</span>

								<span data-id="6356882392343855361" class="dislike-news mid-space fr"></span>

							</div>

						</div>
						<div class="list_img_holder" style="vertical-align: middle; background: none;">
							<img src="./《今日头条》你关心的,才是头条! - TouTiao.com_files/119b000790b56c6466ed" onerror="errorimg.call(this)" onload="loadimg.call(this)" style="opacity: 1;">

							<span class="video-btn"></span>

						</div>

					</a>

				</section>
				<section data-is-video="False" hot-time="1480402176" class=" has_action" data-group-id="6358238322317328642" data-item-id="6358238322317328642" data-format="0">

					<i class="icon_ad"><span data-show="show" ad-log-extra="{&quot;rit&quot;:1,&quot;ad_price&quot;:&quot;WD0sCQAAb5JYPSwJAABvkgld8-KSrKKUrL3zwg&quot;,&quot;req_id&quot;:&quot;1480403976365520881&quot;}" data-track="" ad-id="52526346159" ad-tag="embeded_ad" ad-label="广告"></span></i>

					<div class="one-px-border"></div>

					<a href="http://m.toutiao.com/item/6358238322317328642/" class="article_link clearfix " data-action-label="click_headline" data-tag="ad">

						<h3 class="dotdot line3 ">科技网联座驾●2017款福特新蒙迪欧 全新上市！</h3>

						<div class="list_img_holder_large " style="background: none;">
							<img src="./《今日头条》你关心的,才是头条! - TouTiao.com_files/f20000adc207cb2b046" onerror="errorimg.call(this)" onload="loadimg.call(this)" style="opacity: 1;">

						</div>

						<div class="item_info">

							<span class="gg_label space">广告</span>
							<span class="src space">长安福特</span>
							<span class="cmt space">评论&nbsp;0</span>

							<span class="time" title="2016-11-29 14:49">30分钟前</span>

							<span data-id="6358238322317328642" class="dislike-news  fr"></span>

						</div>

					</a>

				</section>
				<section data-is-video="True" hot-time="1480401576" class="middle_mode has_action" data-group-id="6356814530672443649" data-item-id="6356816688658252290" data-format="0" data-isshown="true">

					<div class="one-px-border"></div>

					<a href="http://m.toutiao.com/item/6356816688658252290/" class="article_link clearfix " data-action-label="click_headline" data-tag="video_baby">

						<div class="desc" style="vertical-align: middle;">

							<h3 class="dotdot line3 image-margin-right">女汉子生孩子自然分娩全部过程，妈妈真伟大</h3>

							<div class="item_info" style="margin-top: 18px;">

								<span class="src space">闪闪车讯</span>
								<span class="cmt space">评论&nbsp;1</span>

								<span data-id="6356814530672443649" class="dislike-news mid-space fr"></span>

							</div>

						</div>
						<div class="list_img_holder" style="vertical-align: middle; background: none;">
							<img src="./《今日头条》你关心的,才是头条! - TouTiao.com_files/1139000c4be6dc0b507a" onerror="errorimg.call(this)" onload="loadimg.call(this)" style="opacity: 1;">

							<span class="video-btn"></span>

						</div>

					</a>

				</section>
				<section data-is-video="True" hot-time="1480400976" class="middle_mode has_action" data-group-id="6356085785972424962" data-item-id="6355717977307873794" data-format="0" data-isshown="true">

					<div class="one-px-border"></div>

					<a href="http://m.toutiao.com/item/6355717977307873794/" class="article_link clearfix " data-action-label="click_headline" data-tag="video_baby">

						<div class="desc" style="vertical-align: middle;">

							<h3 class="dotdot line3 image-margin-right">怀孕两个月就肚子大得走不动，检查后一家人喜出望外</h3>

							<div class="item_info" style="margin-top: 18px;">

								<span class="src space">创新育儿</span>
								<span class="cmt space">评论&nbsp;141</span>

								<span data-id="6356085785972424962" class="dislike-news mid-space fr"></span>

							</div>

						</div>
						<div class="list_img_holder" style="vertical-align: middle; background: none;">
							<img src="./《今日头条》你关心的,才是头条! - TouTiao.com_files/f90000d70863c2f36f1" onerror="errorimg.call(this)" onload="loadimg.call(this)" style="opacity: 1;">

							<span class="video-btn"></span>

						</div>

					</a>

				</section>
				<section data-is-video="False" hot-time="1480400376" class=" has_action" data-group-id="6358190513842536705" data-item-id="6357971855499854338" data-format="0">

					<div class="one-px-border"></div>

					<a href="http://m.toutiao.com/item/6357971855499854338/" class="article_link clearfix " data-action-label="click_headline" data-tag="news_health">

						<h3 class="dotdot line3 ">一女子通过手术减肥260斤，然而后遗症却让她后悔终身</h3>

						<div class="list_image">
							<ul class="clearfix">

								<li class="list_img_holder" style="background: none;"><img src="./《今日头条》你关心的,才是头条! - TouTiao.com_files/123400022826064cfe3a" onerror="errorimg.call(this)" onload="loadimg.call(this)" style="opacity: 1;"></li>

								<li class="list_img_holder" style="background: none;"><img src="./《今日头条》你关心的,才是头条! - TouTiao.com_files/12320002248fe169b714" onerror="errorimg.call(this)" onload="loadimg.call(this)" style="opacity: 1;"></li>

								<li class="list_img_holder" style="background: none;"><img src="./《今日头条》你关心的,才是头条! - TouTiao.com_files/e5900173fb14d946755" onerror="errorimg.call(this)" onload="loadimg.call(this)" style="opacity: 1;"></li>

							</ul>
						</div>

						<div class="item_info">

							<span class="src space">奇洛里斯</span>
							<span class="cmt space">评论&nbsp;43</span>

							<span class="time" title="2016-11-29 14:19">1小时前</span>

							<span data-id="6358190513842536705" class="dislike-news  fr"></span>

						</div>

					</a>

				</section>
				<section data-is-video="False" hot-time="1480399776" class=" has_action" data-group-id="6357958508134154497" data-item-id="6357961009767907841" data-format="0">

					<div class="one-px-border"></div>

					<a href="http://m.toutiao.com/item/6357961009767907841/" class="article_link clearfix " data-action-label="click_headline" data-tag="news_entertainment">

						<h3 class="dotdot line3 ">张亮有了女儿后，天天有了妹妹后，画风都不一样了！</h3>

						<div class="list_image">
							<ul class="clearfix">

								<li class="list_img_holder" style="background: none;"><img src="./《今日头条》你关心的,才是头条! - TouTiao.com_files/ef700159c8ec7af161f" onerror="errorimg.call(this)" onload="loadimg.call(this)" style="opacity: 1;"></li>

								<li class="list_img_holder" style="background: none;"><img src="./《今日头条》你关心的,才是头条! - TouTiao.com_files/e59001730994f1ac5e4" onerror="errorimg.call(this)" onload="loadimg.call(this)" style="opacity: 1;"></li>

								<li class="list_img_holder" style="background: none;"><img src="./《今日头条》你关心的,才是头条! - TouTiao.com_files/1232000215848abc91f1" onerror="errorimg.call(this)" onload="loadimg.call(this)" style="opacity: 1;"></li>

							</ul>
						</div>

						<div class="item_info">

							<span class="src space">范妈饭娃</span>
							<span class="cmt space">评论&nbsp;146</span>

							<span class="time" title="2016-11-29 14:09">1小时前</span>

							<span data-id="6357958508134154497" class="dislike-news  fr"></span>

						</div>

					</a>

				</section>
