<section data-is-video="True" hot-time="1480403976" class="middle_mode has_action" data-group-id="6358276964306911489" data-item-id="6358279205070832130" data-format="0" data-isshown="true">

					<a href="http://m.toutiao.com/item/6358279205070832130/" class="article_link clearfix " data-action-label="click_headline" data-tag="video_sports">

						<div class="desc" style="vertical-align: middle;">

							<h3 class="dotdot line3 image-margin-right">视频｜疑似载巴西球员飞机坠毁现场视频曝光 拍摄者直呼上帝啊</h3>

							<div class="item_info" style="margin-top: 18px;">

								<span class="hot_label space">热</span>

								<span class="src space">新闻终点站</span>
								<span class="cmt space">评论&nbsp;0</span>

								<span data-id="6358276964306911489" class="dislike-news mid-space fr"></span>

							</div>

						</div>
						<div class="list_img_holder" style="vertical-align: middle; background: none;">
							<img src="./《今日头条》你关心的,才是头条! - TouTiao.com_files/12050008f1bcf142c1ca" onerror="errorimg.call(this)" onload="loadimg.call(this)" style="opacity: 1;">

							<span class="video-btn"></span>

						</div>

					</a>

				</section>